
<body>
<!-- Features Section -->
<div class="section is-medium gradient-circle">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- Divider -->
            <div class="special-divider">
                <span></span>
                <span></span>
            </div>
            <h2 class="title is-2">We are Different.</h2>
            <h4 class="subtitle is-4">All in one Collaboration.</h4>
        </div>

        <!-- Content -->
        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="column is-6">
                    <div class="columns is-multiline has-text-centered">
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">dashboard</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Dashboard
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded primary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">bubble_chart</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Collaboration
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">insert_drive_file</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Documents
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">layers</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Projects
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">assessment</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Reporting
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                        <!-- Icon box -->
                        <div class="column is-6">
                            <div class="square-icon-box rounded secondary">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box">
                                        <i class="material-icons">monetization_on</i>
                                    </div>
                                </div>
                                <div class="box-title">
                                    Accounting
                                </div>
                                <div class="box-text">
                                    Lorem ipsum dolor sit amet, usu no ancillae verterem partiendo, mea ea.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-6">
                    <img class="featured-ui" src="assets/images/illustrations/UI/collaboration-sidebar.png" alt="">
                </div>
            </div>

            <!-- CTA -->
            <div class="cta-wrapper has-text-centered is-title-reveal">
                <a href="landing-v4-login.html" class="button button-cta is-bold btn-align primary-btn raised">
                    Try it free
                </a>
            </div>
        </div>
        <!-- /Content -->
    </div>
</div>
<!-- /Features Section -->

<!-- App showcase Section -->
<div class="section is-medium section-feature-grey has-background-image is-contain" data-background="assets/images/bg/shapes/circles-and-shapes.png">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- Divider -->
            <div class="special-divider">
                <span></span>
                <span></span>
            </div>
            <h2 class="title is-2">Awesome Features.</h2>
            <h4 class="subtitle is-4">Discover our App.</h4>
        </div>

        <!-- Content -->
        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <!-- App mockups -->
                <div class="column is-7">
                    <div class="showcase-wrapper">
                        <div id="mockup-1" class="showcase-wrap is-active">
                            <img class="app-showcase" src="assets/images/illustrations/UI/project-app.png" alt="">
                        </div>
                        <div id="mockup-2" class="showcase-wrap">
                            <img class="app-showcase" src="assets/images/illustrations/UI/project-app.png" alt="">
                        </div>
                        <div id="mockup-3" class="showcase-wrap">
                            <img class="app-showcase" src="assets/images/illustrations/UI/project-app.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- Mockups content -->
                <div class="column is-5">
                    <!-- Feature -->
                    <div id="feature-1" class="showcase-text-wrapper animated preFadeInUp fadeInUp">
                        <h3 class="title is-3">Project Management</h3>
                        <p>Project managment is really awesome because lorem ipsum sit dolor amet et cupidis et sil cout marat. Lorem ipsum sit dolor amet et cupidis et sil cout marat.</p>
                        <a href="#" class="button button-cta is-bold btn-align secondary-btn raised mt-20 mb-20">
                            Learn more
                        </a>
                    </div>
                    <!-- Feature -->
                    <div id="feature-2" class="showcase-text-wrapper animated preFadeInUp fadeInUp is-hidden">
                        <h3 class="title is-3">Accounting</h3>
                        <p>Accounting is really awesome because lorem ipsum sit dolor amet et cupidis et sil cout marat. Lorem ipsum sit dolor amet et cupidis et sil cout marat.</p>
                        <a href="#" class="button button-cta is-bold btn-align secondary-btn raised mt-20 mb-20">
                            Learn more
                        </a>
                    </div>
                    <!-- Feature -->
                    <div id="feature-3" class="showcase-text-wrapper animated preFadeInUp fadeInUp is-hidden">
                        <h3 class="title is-3">Document Management</h3>
                        <p>Document managment is really awesome because lorem ipsum sit dolor amet et cupidis et sil cout marat. Lorem ipsum sit dolor amet et cupidis et sil cout marat.</p>
                        <a href="landing-v4-login.html" class="button button-cta is-bold btn-align primary-btn raised mt-20 mb-20">
                            Free Trial
                        </a>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <div class="slide-control">
                <div class="slide-dot is-active" data-feature="mockup-1" data-feature-text="feature-1">
                    <img src="assets/images/illustrations/icons/landing-v5/dot-1.svg" alt="">
                </div>
                <div class="slide-dot" data-feature="mockup-2" data-feature-text="feature-2">
                    <img src="assets/images/illustrations/icons/landing-v5/dot-2.svg" alt="">
                </div>
                <div class="slide-dot" data-feature="mockup-3" data-feature-text="feature-3">
                    <img src="assets/images/illustrations/icons/landing-v5/dot-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /App showcase Section -->

<!-- Side Features Section -->
<div class="section is-medium">
    <div class="container">

        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered">
                <img class="featured-svg" src="assets/images/illustrations/drawings/landing5-1.svg" alt="">
            </div>

            <div class="column is-5">
                <h3 class="detailed-feature-subtitle">Smooth Collaboration</h3>
                <h2 class="title is-3 no-margin">Build a Strong Team</h2>
                <div class="title-divider"></div>
                <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.</span>
                <div class="pt-10 pb-10">
                    <a href="#" class="button btn-align btn-more is-link color-secondary">
                        Learn more about this <i class="sl sl-icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Feature -->

        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered is-hidden-tablet is-hidden-desktop">
                <img class="featured-svg" src="assets/images/illustrations/drawings/landing5-3.svg" alt="">
            </div>

            <div class="column is-5 has-text-right">
                <h3 class="detailed-feature-subtitle">Shared tools</h3>
                <h2 class="title is-3 no-margin">Work Together</h2>
                <div class="title-divider is-right"></div>
                <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.</span>
                <div class="pt-10 pb-10">
                    <a href="#" class="button btn-align btn-more is-link color-secondary">
                        Learn more about this <i class="sl sl-icon-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="column is-7 has-text-centered is-hidden-mobile">
                <img class="featured-svg" src="assets/images/illustrations/drawings/landing5-3.svg" alt="">
            </div>
        </div>
        <!-- /Feature -->

        <!-- Feature -->
        <div class="columns is-vcentered">
            <div class="column is-7 has-text-centered">
                <img class="featured-svg" src="assets/images/illustrations/drawings/landing5-4.svg" alt="">
            </div>

            <div class="column is-5">
                <h3 class="detailed-feature-subtitle">Maximize growth</h3>
                <h2 class="title is-3 no-margin">Stand as one Man</h2>
                <div class="title-divider"></div>
                <span class="section-feature-description">Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.</span>
                <div class="pt-10 pb-10">
                    <a href="#" class="button btn-align btn-more is-link color-secondary">
                        Learn more about this <i class="sl sl-icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Feature -->

        <!-- CTA -->
        <h2 class="has-text-centered">
            <a href="landing-v4-features.html" class="button button-cta is-bold btn-align primary-btn raised">
                See all Features
            </a>
        </h2>
        <!-- /CTA -->

    </div>
</div>
<!-- /Side Features Section -->

<!-- Team Section -->
<div class="section section-feature-grey is-medium has-background-image is-contain" data-background="assets/images/bg/shapes/circles-and-shapes.png">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- Divider -->
            <div class="special-divider">
                <span></span>
                <span></span>
            </div>
            <h2 class="title is-2">Our Superheroes.</h2>
            <h4 class="subtitle is-4">We also love Collaboration.</h4>
        </div>

        <!-- Content -->
        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-hidden-mobile"></div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-1.svg" alt="">
                        <div class="name">Alex Kriczek</div>
                        <div class="position">CEO | Founder</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-2.svg" alt="">
                        <div class="name">Steven Lambert</div>
                        <div class="position">CTO | Founder</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-3.svg" alt="">
                        <div class="name">Herbert Williams</div>
                        <div class="position">Marketing</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="column is-hidden-mobile"></div>
            </div>

            <div class="columns">
                <div class="column is-hidden-mobile"></div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-4.svg" alt="">
                        <div class="name">Ryan Blake</div>
                        <div class="position">Development</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-5.svg" alt="">
                        <div class="name">Yorg Krupps</div>
                        <div class="position">Consultancy</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="column is-3">
                    <div class="hero-box has-text-centered">
                        <img src="assets/images/illustrations/faces/face-6.svg" alt="">
                        <div class="name">Fred Haines</div>
                        <div class="position">Records Management</div>
                        <p>Alex is passionate about his work. He is also a serial entrepreneur and has many projects behind him</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="column is-hidden-mobile"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Team Section -->

<!-- Clients Section -->
<div class="section is-medium no-line-bottom wavy-bottom">
    <div class="container">
        <div class="content-wrapper huge-pb">
            <!-- Clients Grid -->
            <div class="grid-clients three-grid">
                <div class="columns is-vcentered">
                    <div class="column"></div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/phasekit-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/proactive-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/grubspot-dark.svg" alt=""></a>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="columns is-vcentered is-separator">
                    <div class="column"></div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/tribe-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/kromo-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/covenant-dark.svg" alt=""></a>
                    </div>
                    <div class="column"></div>
                </div>
                <div class="columns is-vcentered is-separator">
                    <div class="column"></div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/bitbreaker-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/infinite-dark.svg" alt=""></a>
                    </div>
                    <!-- Client -->
                    <div class="column">
                        <a><img class="client" src="assets/images/logos/custom/livetalk-dark.svg" alt=""></a>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Clients Section -->

<!-- Testimonials Section -->
<div class="section section-secondary is-medium has-background-image is-contain" data-background="assets/images/bg/shapes/circles-and-shapes-w.png">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- Divider -->
            <div class="special-divider is-inverted">
                <span></span>
                <span></span>
            </div>
            <h2 class="title is-2 light-text">They talk about us.</h2>
            <h4 class="subtitle is-4 light-text">We care bout our customers.</h4>
        </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-8 is-offset-2 no-padding">
                <!-- Testimonials wrapper -->
                <div class="testimonials-wrapper styled-testimonials">
                    <!-- Testimonial item -->
                    <div class="testimonial">
                        <blockquote class="testimonial-quote">
                            <i class="fa fa-quote-left"></i>
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugit hic modi nisi blanditiis, possimus asperiores sint iusto dignissimos odio consequuntur, cumque nobis dicta rerum quisquam non placeat accusantium laborum!</p>
                            <footer class="testimonial-meta">
                                <img class="testimonial-img" src="assets/images/avatars/alex.jpg" alt="" />
                            </footer>
                        </blockquote>
                    </div>
                    <!-- Testimonial item -->
                    <div class="testimonial">
                        <blockquote class="testimonial-quote">
                            <i class="fa fa-quote-left"></i>
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugit hic modi nisi blanditiis, possimus asperiores sint iusto dignissimos odio consequuntur, cumque nobis dicta rerum quisquam non placeat accusantium laborum!</p>
                            <footer class="testimonial-meta">
                                <img class="testimonial-img" src="assets/images/avatars/elie.jpg" alt="" />
                            </footer>
                        </blockquote>
                    </div>
                    <!-- Testimonial item -->
                    <div class="testimonial">
                        <blockquote class="testimonial-quote">
                            <i class="fa fa-quote-left"></i>
                            <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugit hic modi nisi blanditiis, possimus asperiores sint iusto dignissimos odio consequuntur, cumque nobis dicta rerum quisquam non placeat accusantium laborum!</p>
                            <footer class="testimonial-meta">
                                <img class="testimonial-img" src="assets/images/avatars/russel.jpg" alt="" />
                            </footer>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Testimonials Section -->

<!-- Contact Section -->
<div class="section is-medium section-feature-grey">
    <div class="container">
        <!-- Title -->
        <div class="section-title-wrapper has-text-centered">
            <!-- Divider -->
            <div class="special-divider">
                <span></span>
                <span></span>
            </div>
            <h2 class="title is-2">Drop us a Line.</h2>
            <h4 class="subtitle is-4">Ask us a question, or just say Hello.</h4>
        </div>
        <div class="columns">
            <div class="column is-6">
                <!-- Contact form -->
                <div class="contact-form">
                    <form>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="control">
                                    <label>First name *</label>
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="control">
                                    <label>Last name *</label>
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="control">
                                    <label>Email *</label>
                                    <input class="input is-medium" type="email">
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="control">
                                    <label>Company</label>
                                    <input class="input is-medium" type="text">
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="control">
                                    <label>Message *</label>
                                    <textarea class="textarea" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-wrapper">
                            <a href="#" class="button button-cta is-bold btn-align secondary-btn raised">
                                Send Message
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column is-5 is-offset-1">
                <!-- Contact info tabs -->
                <div class="contact-toggler">
                    <ul class="tabbed-links">
                        <li class="is-active" data-contact="contact-email">Email</li>
                        <li data-contact="contact-location">Location</li>
                        <li data-contact="contact-phone">Phone</li>
                    </ul>
                    <div class="contact-blocks">
                        <!-- Tab content -->
                        <div id="contact-email" class="contact-block animated preFadeInUp fadeInUp">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-info">
                                <span>Contact us by email</span>
                                <span>hello@bulkit.io</span>
                            </div>
                        </div>
                        <!-- Tab content -->
                        <div id="contact-location" class="contact-block animated preFadeInUp fadeInUp is-hidden">
                            <div class="contact-icon">
                                <i class="fa fa-map"></i>
                            </div>
                            <div class="contact-info">
                                <span>Visit us @ our Office</span>
                                <span>87, Cours Charlemagne, Lyon, FRANCE</span>
                            </div>
                        </div>
                        <!-- Tab content -->
                        <div id="contact-phone" class="contact-block animated preFadeInUp fadeInUp is-hidden">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-info">
                                <span>Call our Support team</span>
                                <span>+33 4 56 89 89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Illustration -->
                <img src="assets/images/illustrations/drawings/line-city.svg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- /Contact Section -->

<!-- Footer -->
<!-- Simple light footer -->
<footer class="footer footer-light-medium">
    <div class="container">
        <div class="columns">
            <!-- Column -->
            <div class="column is-4">
                <div class="pt-10 pb-10">
                    <img class="small-footer-logo" src="assets/images/logos/bulkit-logo-g.png" alt="">
                    <div class="footer-description pt-10 pb-10">
                        Bulkit is built for developers and designers. It's modular approach lets you create an original landing page for your brand.
                    </div>
                </div>
                <div>
                    <span class="moto">Designed and coded with <i class="fa fa-heart color-red"></i> by CSS Ninja.</span>
                    <div class="social-links pt-10 pb-10">
                        <a href="#">
                            <span class="icon"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fa fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-2">
                <div class="columns">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Bulkit
                            </li>
                            <li class="column-item"><a href="#">Home</a></li>
                            <li class="column-item"><a href="#">Pricing</a></li>
                            <li class="column-item"><a href="#">Get started</a></li>
                            <li class="column-item"><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Ressources
                            </li>
                            <li class="column-item"><a href="#">Learning</a></li>
                            <li class="column-item"><a href="#">Support center</a></li>
                            <li class="column-item"><a href="#">Frequent questions</a></li>
                            <li class="column-item"><a href="#">Schedule a demo</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Terms
                            </li>
                            <li class="column-item"><a href="#">Terms of Service</a></li>
                            <li class="column-item"><a href="#">Privacy policy</a></li>
                            <li class="column-item"><a href="#">SaaS services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Simple light footer -->        <!-- Side navigation -->
<div class="side-navigation-menu">
    <!-- Categories menu -->
    <div class="category-menu-wrapper">
        <!-- Menu -->
        <ul class="categories">
            <li class="square-logo"><img src="assets/images/logos/square-white.svg" alt=""></li>
            <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i></li>
            <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
            <li class="category-link" data-navigation-menu="extras"><i class="sl sl-icon-present"></i></li>
        </ul>
        <!-- Menu -->

        <ul class="author">
            <li>
                <!-- Theme author -->
                <a href="https://cssninja.io/" target="_blank">
                    <img class="main-menu-author" src="assets/images/logos/cssninja.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <!-- /Categories menu -->

    <!-- Navigation menu -->
    <div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
        <!-- Navigation Header -->
        <div class="navigation-menu-header">
            <span>Demo pages</span>
            <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
            </a>
        </div>
        <!-- Navigation Body -->
        <ul class="navigation-menu">
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">weekend</span>Agency kit</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/index.html">Homepage</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-about.html">About</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-portfolio.html">Portfolio</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-contact.html">Contact</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-blog.html">Blog</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-post-sidebar.html">Post sidebar</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/agency/agency-post-nosidebar.html">Post no sidebar</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">wb_incandescent</span>Startup kit</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/index.html">Homepage</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/startup-about.html">About</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/startup-product.html">Product</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/startup-contact.html">Contact</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/startup-login.html">Login</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/startup/startup-signup.html">Sign up</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">looks</span>Landing kit v1</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/index.html">Landing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/landing-features.html">Feature page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/landing-pricing.html">Pricing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/landing-login.html">Login page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-1/landing-signup.html">Signup page</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">invert_colors</span>Landing kit v2</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-2/index.html">Landing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-2/landing-v1-features.html">Feature page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-2/landing-v1-pricing.html">Pricing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-2/landing-v1-login.html">Login page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-2/landing-v1-signup.html">Signup page</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">chat_bubble</span>Landing kit v3</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-3/index.html">Landing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-3/landing-v2-features.html">Feature page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-3/landing-v2-pricing.html">Pricing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-3/landing-v2-login.html">Login page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-3/landing-v2-signup.html">Signup page</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">business</span>Landing kit v4</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/index.html">Landing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-pricing.html">Pricing page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-help.html">Help center</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-help-category.html">Help category</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-help-article.html">Help article</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-signup.html">Login</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/landing-kits/kit-4/landing-v3-login.html">Sign up</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">face</span>Landing kit v5</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="index.html">Landing page</a></li>
                    <li><a class="is-submenu has-new-feature" href="landing-v4-features.html">Feature page</a></li>
                    <li><a class="is-submenu has-new-feature" href="landing-v4-pricing.html">Pricing Page</a></li>
                    <li><a class="is-submenu has-new-feature" href="landing-v4-login.html">Login / Signup</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Navigation menu -->
    <!-- Navigation menu -->
    <div id="components" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
        <!-- Navigation Header -->
        <div class="navigation-menu-header">
            <span>Components</span>
            <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
            </a>
        </div>
        <!-- Navigation body -->
        <ul class="navigation-menu">
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">view_quilt</span>Layout</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-grid.html">Grid system</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-layout-video.html">Video background</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-layout-parallax.html">Parallax</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-layout-headers.html">Headers</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-layout-footers.html">Footers</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-typography.html">Typography</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-layout-colors.html">Colors</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">subject</span>Navbars</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-fade-light.html">Fade light</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-fade-dark.html">Fade dark</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-static-light.html">Static light</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-static-dark.html">Static dark</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-static-solid.html">Static solid</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-double-dark.html">Double dark</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-layout-navbar-double-light.html">Double light</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">view_stream</span>Sections</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-features.html">Features</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-pricing.html">Pricing</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-team.html">Team</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-testimonials.html">Testimonials</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-clients.html">Clients</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-counters.html">Counters</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-sections-carousel.html">Carousel</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">playlist_add_check</span>Basic UI</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-cards.html">Cards</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-buttons.html">Buttons</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-dropdowns.html">Dropdowns</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-lists.html">Lists</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-modals.html">Modals</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-tabs.html">Tabs & pills</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-accordion.html">Accordions</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-badges.html">Badges & labels</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-basicui-popups.html">Popups</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">playlist_add</span>Advanced UI</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-advancedui-tables.html">Tables</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-advancedui-timeline.html">Timeline</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-advancedui-boxes.html">Boxes</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-advancedui-messages.html">Messages</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-advancedui-megamenu.html">Megamenu</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-advancedui-calendar.html">Calendar</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">check_box</span>Forms</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-forms-inputs.html">Inputs</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-forms-controls.html">Controls</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-forms-layouts.html">Form layouts</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-forms-steps.html">Step forms</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-forms-uploader.html">Uploader</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">adjust</span>Icons</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-icons-im.html">Icons Mind</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-icons-sl.html">Simple Line Icons</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/_components-icons-fa.html">Font Awesome</a></li>
                    <li><a class="is-submenu" href="https://material.io/icons/" target="_blank">Material Icons</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/_components-extensions-iconpicker.html">Icon Picker</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Navigation menu -->
    <!-- Navigation menu -->
    <div id="extras" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
        <!-- Navigation Header -->
        <div class="navigation-menu-header">
            <span>Extras</span>
            <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
            </a>
        </div>
        <!-- Navigation body -->
        <ul class="navigation-menu">
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">dashboard</span>Dashboard kit</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/index.html">Main Layout</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-dark-nav.html">Dark Sidebar</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-blank.html">Blank page</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-widgets-data.html">Data widgets</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-widgets-social.html">Social widgets</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-feed.html">Dashboard feed</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-feed-post.html">Feed post</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-login.html">Login</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">insert_chart</span>Charts</a>
                <ul>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-chartjs.html">Chartjs charts</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-billboardjs.html">Billboardjs charts</a></li>
                    <li><a class="is-submenu" href="https://bulkitv2.cssninja.io/dashboard/dashboard-peityjs.html">Peity charts</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">assignment</span>Projects</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-project-list.html">Projects</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-project-details.html">Project details</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-project-task.html">Project Task</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-project-mytasks.html">My Tasks</a></li>
                </ul>
            </li>
            <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">grid_on</span>Datatable</a>
                <ul>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-datatable-basic.html">Basic</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-datatable-variations.html">Variations</a></li>
                    <li><a class="is-submenu has-new-feature" href="https://bulkitv2.cssninja.io/dashboard/dashboard-datatable-advanced.html">Advanced</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Navigation menu -->
</div>

